xterm*termName: xterm-256color

XTerm*locale: true
XTerm*selectToClipboard: true

!! RXVT

URxvt.font: xft:Terminus:pixelsize=14
URxvt.boldFont: xft:Terminus:pixelsize=14:bold
URxvt.scrollBar: false
URxvt.lineSpace: 2

URxvt.internalBorder:  4

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Tranparency
! URxvt.transparent: true
! URxvt.shading:20

!!Source http://github.com/altercation/solarized

!!*fading: 40
*fadeColor: #002b36

*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

! tango color  scheme

URxvt*background: #000000
URxvt*foreground: #DEDEDE

URxvt*colorUL: #86a2b0

! black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! green
URxvt*color2  : #4E9A06
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #C4A000
URxvt*color11 : #FCE94F
! blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #34E2E2
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC
